@import url("https://fonts.googleapis.com/css?family=Fondamento|Nunito:300,400&display=swap");
/*--- FONTS ---*/
/*--- COLORS ---*/
/* rgb(41, 47, 54) */
/* rgb(78, 205, 196) */
/* rgb(255, 107, 107) */
/*--- RESET STYLE ---*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

.py {
  padding: 70px 0;
}

@media (max-width: 769px) {
  .py {
    padding: 30px 0;
  }
}

.container {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 769px) {
  .container {
    width: 90%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fondamento", cursive;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

img {
  display: block;
  width: 100%;
}

/* GLOBAL */
h2 {
  font-size: 3rem;
}

button {
  border: 2px solid #ff6b6b;
  color: #ff6b6b;
  padding: 0.8em 1.2em;
  font-size: 1.3rem;
  line-height: 1;
  border-radius: 1.6em;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

button:hover {
  background: #ff6b6b;
  color: #fff;
}

/* HEADER */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../img/header.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/header.jpg);
  height: 70vh;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 5%;
}

header h1 {
  font-size: 3em;
}

@media (max-width: 769px) {
  header h1 {
    font-size: 2.5em;
    line-height: 1.5;
  }
}

header p {
  font-size: 1em;
  margin-bottom: 1.5em;
}

/* about */
.about {
  background-color: #ede8e8;
}

.about article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 450px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 0px 5px 3px rgba(41, 47, 54, 0.5);
          box-shadow: 0 0px 5px 3px rgba(41, 47, 54, 0.5);
}

@media (max-width: 769px) {
  .about article {
    height: auto;
  }
}

.about article:last-child {
  margin-bottom: 0;
}

.about article:nth-child(even) div:last-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

@media (max-width: 769px) {
  .about article:nth-child(even) div:last-child {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.about article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 769px) {
  .about article div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.about article div:last-child {
  padding: 60px;
}

@media (max-width: 769px) {
  .about article div:last-child {
    padding: 30px;
  }
}

.about article div img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about article div h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about article div p {
  font-size: 1.1rem;
}

.about article div button {
  margin-top: 20px;
}

/* gallery */
.gallery {
  background-color: #fff;
  text-align: center;
}

.gallery h2 {
  color: #ff6b6b;
}

.gallery article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gallery article div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
  margin-top: 40px;
}

@media (max-width: 769px) {
  .gallery article div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.gallery button {
  margin-top: 40px;
}

.gallery img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

.gallery img:hover {
  -webkit-box-shadow: 0 0px 5px 3px rgba(41, 47, 54, 0.5);
          box-shadow: 0 0px 5px 3px rgba(41, 47, 54, 0.5);
}

/* footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 107, 107, 0.8)), to(rgba(255, 107, 107, 0.8))), url(../img/header.jpg);
  background-image: linear-gradient(rgba(255, 107, 107, 0.8), rgba(255, 107, 107, 0.8)), url(../img/header.jpg);
  height: 100vh;
  text-align: center;
  padding: 30px 0 70px;
}

footer form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer form fieldset {
  width: 70%;
  margin: 0 auto 30px;
  text-align: left;
  border: none;
}

@media (max-width: 769px) {
  footer form fieldset {
    width: 100%;
  }
}

footer form label,
footer form input,
footer form textarea {
  width: 100%;
  font-size: 1.2rem;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  color: #292f36;
}

footer form input,
footer form textarea {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
  border: 2px solid rgba(237, 232, 232, 0.5);
  resize: none;
}

footer h2 {
  color: #292f36;
}

footer article a {
  display: inline-block;
  line-height: 70px;
  position: relative;
  width: 70px;
  height: 70px;
  font-size: 2rem;
  margin-right: 40px;
  color: #ff6b6b;
}

footer article a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
}

footer article a:last-child {
  margin-right: 0;
}

footer article a:hover i {
  -webkit-transform: scale(130%);
          transform: scale(130%);
}

footer article a i {
  position: relative;
  z-index: 2;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

/* header */
/*# sourceMappingURL=style.css.map */