@import url("https://fonts.googleapis.com/css?family=Fondamento|Nunito:300,400&display=swap");

/*--- FONTS ---*/
$textFont: "Nunito", sans-serif;
$textHeadings: "Fondamento", cursive;
$fontSize: 16px;

/*--- COLORS ---*/
$crna: #292f36; /* rgb(41, 47, 54) */
$zelena: #4ecdc4; /* rgb(78, 205, 196) */
$bela: #fff;
$crvena: #ff6b6b; /* rgb(255, 107, 107) */
$svetlosiva: #ede8e8;

$transition: 0.4s ease;
$boxShadow: 0 5px 10px 0px rgba($crna, 0.5);

/*--- RESET STYLE ---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// BASIC STYLE
html {
  scroll-behavior: smooth;
}
body {
  font-family: $textFont;
  font-size: $fontSize;
  line-height: 1.7;
}

.py {
  padding: 70px 0;
  @media (max-width: 769px) {
    padding: 40px 0;
  }
}
.container {
  width: 70%;
  margin: 0 auto;
  @media (max-width: 769px) {
    width: 90%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $textHeadings;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  transition: color $transition;
}
img {
  display: block;
  width: 100%;
}
